@import url(reset.css);


//封装宽，高，背景
.whb(@w,@h,@b){
    width: @w;
    height: @h;
    background: @b;
}

//body,html,.shop-indent-details{
//	.whb(100%,100%,none);
//}
//封装弹性盒
.box(@res:vertical){
    display: -webkit-box;
    -webkit-box-orient: @res;
}

body,html,.nosale-cause{
	overflow: hidden;
}

.nosale-cause{
	.whb(100%,100%,none);
	.box();
	header{
	     .whb(100%,40px,#f7f7f7);
	     .box(horizontal);
	      border-bottom: 1px solid #cacaca;
        
        .left{
            .whb(43px,43px,none);
            text-align: center;
            line-height: 40px;
            padding-left:5px;
            padding-top:5px;
           box-sizing: border-box;
            img{
                .whb(10px,15px,none);
            }
            
        }
        .right{
            .whb(43px,43px,none);
            text-align: center;
            line-height: 40px;
            padding-right: 10px;
//           padding-top:5px;
                box-sizing: border-box;
                font-size: 14px;

            
        }
        .center{
            text-align: center;
            line-height: 40px;
            -webkit-box-flex: 1;
            font-size:14px;
//          font-weight: bolder;            
        }
	}
	
	
	section{
	    -webkit-box-flex: 1;	
	    padding:0px 10px;
	    box-sizing: border-box;
	    background-color: #f2f2f2;
	    .title h2{
	    	padding: 5px 5px;
	    	box-sizing: border-box;
	    }
	    
	    .input textarea{
	    	.whb(100%,150px,white);
	    	border-radius: 5px;
	    	outline:none;
	    }
	    
	    
	    .h h2{
	    	padding: 5px 5px;
	    	box-sizing: border-box;
	    }
	    .photo{
	    	img{
	    		.whb(60px,auto,none);
	    		border: 1px solid gainsboro;
	    		border-radius: 5px;
	    	}
	    }
	    
	}//section
	
	
	footer{
//		.whb(100%,40px,#f2f2f2);
	}
}
