@import url(reset.css);
.preview-shop {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.preview-shop header {
  width: 100%;
  height: 3.5rem;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 0.1rem solid #cacaca;
  position: relative;
}
.preview-shop header .left {
  width: 4.3rem;
  height: auto;
  background: none;
  text-align: center;
  line-height: 3.5rem;
  padding-left: 0.5rem;
  padding-top: 0.3rem;
  box-sizing: border-box;
  position: absolute;
  left: 0.5rem;
}
.preview-shop header .left img {
  width: 0.8rem;
  height: auto;
  background: none;
}
.preview-shop header .right {
  width: auto;
  height: 3.5rem;
  background: none;
  text-align: center;
  line-height: 3.5rem;
  padding-right: 0.5rem;
  font-size: 1.4rem;
  box-sizing: border-box;
  position: absolute;
  right: 0.5rem;
}
.preview-shop header .right a {
  padding-left: 0.5rem;
}
.preview-shop header .center {
  text-align: center;
  line-height: 3.5rem;
  width: 100%;
  height: auto;
  background: none;
  font-size: 1.4rem;
}
.preview-shop section {
  -webkit-box-flex: 1;
  overflow-y: auto;
}
.preview-shop section::-webkit-scrollbar {
  width: 0;
}
.preview-shop section .nav {
  width: 100%;
  height: 3.5rem;
  background: #ffffff;
  position: relative;
}
.preview-shop section .nav .left {
  width: 100%;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.preview-shop section .nav .left dl {
  -webkit-box-flex: 1;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.preview-shop section .nav .left dl dt {
  margin-left: 0.5rem;
}
.preview-shop section .nav .left dl dd {
  margin-left: 0.1rem;
}
.preview-shop section .nav .left .one {
  color: #ff7f1e;
}
.preview-shop section .nav .img {
  width: 2rem;
  height: auto;
  background: none;
  position: absolute;
  right: 0px;
  top: 1.2rem;
}
.preview-shop section .nav .img img {
  width: 1.5rem;
  height: auto;
  background: none;
}
.preview-shop section .photo {
  width: 100%;
  height: auto;
  background: none;
}
.preview-shop section .photo .top {
  width: 100%;
  height: auto;
  background: none;
}
.preview-shop section .photo .top dl {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.preview-shop section .photo .top dl dt {
  width: 70px;
  height: auto;
  background: none;
  padding: 10px;
  box-sizing: border-box;
}
.preview-shop section .photo .top dl dt img {
  width: 70px;
  height: auto;
  background: none;
}
.preview-shop section .photo .top dl dd {
  -webkit-box-flex: 1;
  padding: 5px 10px 0 20px;
}
.preview-shop section .photo .top dl dd p {
  color: #ff7f1c;
  padding-top: 2px;
  box-sizing: border-box;
}
.preview-shop section .photo .top dl dd p b {
  float: right;
  color: black;
}
.preview-shop section .photo .top dl dd .down a {
  color: #6c6c6c;
  padding-top: 2px;
  box-sizing: border-box;
}
.preview-shop section .photo .top dl dd .down b {
  width: 4.5rem;
  height: auto;
  background: #ff7f1c;
  float: right;
  box-sizing: border-box;
  color: white;
  border: 1px solid #ff7d1b;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 0.3rem;
}
.preview-shop section .photo1 {
  width: 100%;
  height: auto;
  background: none;
}
.preview-shop section .photo1 .top {
  width: 100%;
  height: auto;
  background: none;
}
.preview-shop section .photo1 .top dl {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.preview-shop section .photo1 .top dl dt {
  width: 70px;
  height: auto;
  background: none;
  padding: 10px;
  box-sizing: border-box;
}
.preview-shop section .photo1 .top dl dt img {
  width: 70px;
  height: auto;
  background: none;
}
.preview-shop section .photo1 .top dl dd {
  -webkit-box-flex: 1;
  padding: 5px 10px 0 20px;
}
.preview-shop section .photo1 .top dl dd p {
  color: #ff7f1c;
  padding-top: 2px;
  box-sizing: border-box;
}
.preview-shop section .photo1 .top dl dd p b {
  float: right;
  color: black;
}
.preview-shop section .photo1 .top dl dd .down a {
  color: #6c6c6c;
  padding-top: 2px;
  box-sizing: border-box;
}
.preview-shop section .photo1 .top dl dd .down b {
  width: 4.5rem;
  height: auto;
  background: none;
  float: right;
  box-sizing: border-box;
  color: #ff7f1c;
  border: 1px solid #ff7f1c;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 0.3rem;
}
.preview-shop section .photo2 {
  width: 100%;
  height: auto;
  background: none;
}
.preview-shop section .photo2 .top {
  width: 100%;
  height: auto;
  background: none;
}
.preview-shop section .photo2 .top dl {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.preview-shop section .photo2 .top dl dt {
  width: 70px;
  height: auto;
  background: none;
  padding: 10px;
  box-sizing: border-box;
}
.preview-shop section .photo2 .top dl dt img {
  width: 70px;
  height: auto;
  background: none;
}
.preview-shop section .photo2 .top dl dd {
  -webkit-box-flex: 1;
  padding: 5px 10px 0 20px;
}
.preview-shop section .photo2 .top dl dd p {
  color: #ff7f1c;
  padding-top: 2px;
  box-sizing: border-box;
}
.preview-shop section .photo2 .top dl dd p b {
  float: right;
  color: black;
}
.preview-shop section .photo2 .top dl dd .down a {
  color: #6c6c6c;
  padding-top: 2px;
  box-sizing: border-box;
}
.preview-shop section .photo2 .top dl dd .down b {
  width: 4.5rem;
  height: auto;
  background: none;
  float: right;
  box-sizing: border-box;
  color: #ff7f1c;
  border: 1px solid #ff7f1c;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 0.3rem;
}
.preview-shop section .photo2 .top dl dd .down .up {
  width: 4.5rem;
  height: auto;
  background: #ff7f1c;
  float: right;
  box-sizing: border-box;
  color: white;
  border: 1px solid white;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 0.3rem;
}
.preview-shop section .photo3 {
  width: 100%;
  height: auto;
  background: none;
}
.preview-shop section .photo3 .top {
  width: 100%;
  height: auto;
  background: none;
}
.preview-shop section .photo3 .top dl {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.preview-shop section .photo3 .top dl dt {
  width: 70px;
  height: auto;
  background: none;
  padding: 10px;
  box-sizing: border-box;
}
.preview-shop section .photo3 .top dl dt img {
  width: 70px;
  height: auto;
  background: none;
}
.preview-shop section .photo3 .top dl dd {
  -webkit-box-flex: 1;
  padding: 5px 10px 0 20px;
}
.preview-shop section .photo3 .top dl dd p {
  color: #ff7f1c;
  padding-top: 2px;
  box-sizing: border-box;
}
.preview-shop section .photo3 .top dl dd p b {
  float: right;
  color: black;
}
.preview-shop section .photo3 .top dl dd .down a {
  color: #6c6c6c;
  padding-top: 2px;
  box-sizing: border-box;
}
.preview-shop section .photo3 .top dl dd .down b {
  width: 4.5rem;
  height: auto;
  background: none;
  float: right;
  box-sizing: border-box;
  color: #bcbcbc;
  border: 1px solid #bcbcbc;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 0.3rem;
}
.preview-shop section .photo4 {
  width: 100%;
  height: auto;
  background: none;
}
.preview-shop section .photo4 .top {
  width: 100%;
  height: auto;
  background: none;
}
.preview-shop section .photo4 .top dl {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.preview-shop section .photo4 .top dl dt {
  width: 70px;
  height: auto;
  background: none;
  padding: 10px;
  box-sizing: border-box;
}
.preview-shop section .photo4 .top dl dt img {
  width: 70px;
  height: auto;
  background: none;
}
.preview-shop section .photo4 .top dl dd {
  -webkit-box-flex: 1;
  padding: 5px 10px 0 20px;
}
.preview-shop section .photo4 .top dl dd p {
  color: #ff7f1c;
  padding-top: 2px;
  box-sizing: border-box;
}
.preview-shop section .photo4 .top dl dd p b {
  float: right;
  color: black;
}
.preview-shop section .photo4 .top dl dd .down a {
  color: #6c6c6c;
  padding-top: 2px;
  box-sizing: border-box;
}
.preview-shop section .photo4 .top dl dd .down b {
  width: 4.5rem;
  height: auto;
  background: none;
  float: right;
  box-sizing: border-box;
  color: #3293e2;
  border: 1px solid #3293e2;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 0.3rem;
}
.preview-shop footer {
  width: 100%;
  height: 3.5rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.preview-shop footer .left {
  width: 50%;
  height: auto;
  background: none;
}
.preview-shop footer .left dl {
  width: 10rem;
  height: 1rem;
  background: none;
  margin: 0 auto;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 3.5rem;
}
.preview-shop footer .left dl dt img {
  width: 1.5rem;
  height: auto;
  background: none;
  margin-top: 1rem;
}
.preview-shop footer .left dl dd {
  padding-left: 0.5rem;
  font-size: 14px;
  box-sizing: border-box;
}
.preview-shop footer .right {
  width: 50%;
  height: auto;
  background: none;
}
.preview-shop footer .right dl {
  width: 10rem;
  height: 1rem;
  background: none;
  margin: 0 auto;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 3.5rem;
}
.preview-shop footer .right dl dt img {
  width: 1.5rem;
  height: auto;
  background: none;
  margin-top: 1rem;
}
.preview-shop footer .right dl dd {
  padding-left: 0.5rem;
  font-size: 14px;
  box-sizing: border-box;
}
