@import url("reset.css");
html,
body,
.div {
  width: 100%;
  height: 100%;
  background: none;
}
html {
  font-size: 62.5%;
}
.div {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.div header {
  width: 100%;
  height: 3.5rem;
  background: #f7f7f7;
  position: relative;
}
.div header .span1 {
  position: absolute;
  top: 8px;
  left: 10px ;
}
.div header .span1 img {
  width: 11px;
  height: 16px;
  background: none;
}
.div header h2 {
  text-align: center;
  line-height: 3.5rem;
  font-size: 18px;
}
.div header .span2 {
  position: absolute;
  top: 8px ;
  right: 11px ;
}
.div header .span2 img {
  width: 18px;
  height: 18px;
  background: none;
}
.div section {
  overflow-y: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.div section::-webkit-scrollbar {
  width: 0;
}
.div section .zhuti1 {
  width: 100%;
  height: 21px;
  background: #f7f7f7;
  border-top: 1px solid #6E6E6E ;
}
.div section .zhuti1 h2 {
  text-indent: 2em;
  font-size: 14px;
}
.div section .zhuti1 h2 span {
  color: red;
}
.div section .zhuti2 {
  width: 100%;
  height: auto;
  background: none;
}
.div section .zhuti2 ul {
  padding-left: 8px;
  box-sizing: border-box;
}
.div section .zhuti2 ul li {
  width: 100%;
  height: auto;
  background: none;
  border-bottom: 1px solid #C0C0C0;
  line-height: 3rem;
  position: relative;
}
.div section .zhuti2 ul li span {
  font-size: 14px;
  font-weight: bold;
}
.div section .zhuti2 ul li img {
  width: 5px;
  height: 12px;
  background: none;
  position: absolute;
  top: 10px ;
  right: 7px;
}
.div section .zhuti2 ul .li1 {
  border-bottom: none;
  font-weight: bold;
  font-size: 14px;
}
.div section .zhuti2 ul .li2 {
  width: 100%;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.div section .zhuti2 ul .li2 span {
  width: 70px;
  height: auto;
  background: none;
}
.div section .zhuti2 ul .li2 p {
  -webkit-box-flex: 1;
}
.div section .zhuti3 {
  width: 100%;
  height: auto;
  background: none;
  padding-top: 7px;
  border-bottom: 4px solid #6E6E6E;
}
.div section .zhuti3 ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.div section .zhuti3 ul li {
  padding-left: 8px;
  box-sizing: border-box;
}
.div section .zhuti3 ul li img {
  width: 6.9rem;
  height: auto;
  background: none;
}
.div section .zhuti4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  height: auto;
  background: none;
  padding-left: 13px;
  box-sizing: border-box;
  position: relative;
}
.div section .zhuti4 p {
  margin-top: 8px;
}
.div section .zhuti4 p i {
  padding-left: 5px;
  box-sizing: border-box;
}
.div section .zhuti4 p img {
  width: 13px;
  height: 13px;
  background: none;
}
.div section .zhuti4 .p1 {
  margin-bottom: 8px;
}
.div section .zhuti4 span {
  position: absolute;
  top: 16px;
  right: 7px;
}
.div section .zhuti4 span img {
  width: 9px;
  height: 9px;
  background: none;
}
.div section .zhuti5 {
  width: 100%;
  height: 13.6rem;
  background: #f2f2f2;
}
.div section .zhuti6 {
  width: 100%;
  height: 43px;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  position: relative;
}
.div section .zhuti6 .left {
  width: 100%;
  height: 43px;
  background: none;
}
.div section .zhuti6 .left h2 {
  line-height: 43px;
  text-indent: 2em;
  font-size: 14px;
}
.div section .zhuti6 .left h2 span {
  color: red;
}
.div section .zhuti6 .span {
  display: block;
  width: 86px;
  height: 43px;
  background: #ff7d1b;
  text-align: center;
  padding-top: 15px;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
}
